.header__content-top {
  display: flex;
  align-items: center;
  background-color: #fff;
  justify-content: space-between;
  height: 90px;
  font-family: "Lato", sans-serif;
}
.header__content-top-left {
  height: 58px;
  width: 147px;
  margin-top: 6px;
  margin-left: 22px;
}
.header__logo {
  height: 100%;
  width: 100%;
}
.header__content-top-right {
  display: flex;
  align-items: center;
  font-weight: bolder;
}
.header__border {
  transform: rotate(90deg);
  width: 40px;
  background-color: rgba(0, 0, 0, 0.2);
  height: 1px;
  border-style: none;
}
.header__icon {
  color: #AE9979;
  font-size: 15px;
  margin-right: 11px;
  margin-top: 5px;
}
.header__icone-name {
  color: #02303F;
  font-size: 15px;
  letter-spacing: 0.5px;
}
.header__content-right-wrapper {
  margin-left: 10px;
}
.header__socialicon {
  font-size: 15px;
  color: #042F3F;
  padding: 0 8px;
}
.header__content-bottom {
  display: flex;
  align-items: center;
  background-color: #02303F;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 15px 15px;
}
.header__nav {
  display: inline-block;
  margin: auto;
}
.header__menu {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  display: inline-block;
  color: #FFFFFF;
  font-size: 16px;
  padding: 35px 48px;
  letter-spacing: 1.5px;
  border-left: 1px solid rgba(0, 0, 0, 0.2);
}
.header__menu:hover {
  color: #9E9E9E;
  cursor: pointer;
}
.header__extra {
  border-right: 1px solid rgba(0, 0, 0, 0.2);
}

.hero {
  background-image: url(images/g1.webp);
  background-position: center;
  background-size: cover;
  height: 800px;
}
.hero__content {
  display: flex;
  flex-direction: row-reverse;
  align-items: flex-end;
  min-height: 700px;
}
.hero__blur {
  background-color: rgba(0, 0, 0, 0.5);
  height: 100%;
}
.hero__heading {
  color: #fff;
  font-family: "Roboto", sans-serif;
}
.hero__heading h1 {
  font-size: 55px;
  font-weight: 700;
  text-align: right;
  line-height: 80px;
}
.hero__heading h2 {
  font-size: 60px;
  font-weight: 100;
  margin-bottom: 10px;
}
.hero__video {
  display: flex;
  flex-direction: row-reverse;
}

.lesson {
  background-color: #042F3F;
  padding-top: 121px;
  padding-bottom: 120px;
}
.lesson__top {
  margin-bottom: 105px;
  font-family: "Roboto";
}
.lesson__top h2 {
  font-size: 60px;
  color: #fff;
  font-weight: bold;
  margin-bottom: 25px;
}
.lesson__top p {
  font-size: 65px;
  font-weight: 100;
  color: #fff;
}
.lesson__bottom {
  display: flex;
  align-items: center;
  gap: 38px;
}
.lesson__bottom p {
  font-size: 17px;
  color: #fff;
  font-family: "Roboto";
  font-weight: bold;
  max-width: 400px;
}
.lesson__border {
  width: 45px;
  height: 1px;
  background-color: #A69C79;
  transform: rotate(90deg);
  margin-bottom: 46px;
  margin-top: 46px;
}

.service {
  padding-top: 145px;
  padding-bottom: 140px;
  background-color: #F8F9F8;
  position: relative;
}
.service__position {
  position: absolute;
  top: -36px;
  left: 0;
  right: 0;
  margin: auto;
}
.service__icon {
  position: absolute;
  top: -15px;
  left: 0;
  right: 0;
  margin: auto;
}
.service__top {
  margin-bottom: 153px;
  display: block;
}
.service__top h2 {
  font-family: "Roboto", sans-serif;
  font-size: 19px;
  font-weight: bold;
  color: #02303F;
  text-align: center;
  margin-bottom: 35px;
}
.service__border {
  width: 28px;
  margin: auto;
  margin-bottom: 35px;
  height: 3px;
  background-color: #A69C79;
}
.service__top-text {
  text-align: center;
  font-size: 14px;
  font-family: "Lato", sans-serif;
  color: #616161;
  line-height: 23px;
}
.service__bottom {
  display: flex;
  justify-content: space-between;
}
.service__bottom-wrap {
  text-align: center;
}
.service__bottom-wrapper {
  display: inline-block;
  border: 2px solid #A69C79;
  margin: auto;
  padding: 48px 60px;
  border-radius: 50%;
}
.service__extra {
  padding-top: 53px;
  padding-bottom: 53px;
  padding-left: 60px;
  padding-right: 40px;
}
.service__bottom-wrap h3 {
  margin-top: 32px;
  font-family: "Roboto";
  font-weight: bold;
  color: #02303F;
  text-align: center;
  margin-bottom: 27px;
  width: 180px;
}

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1920px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 220px;
  padding-right: 206px;
}/*# sourceMappingURL=style.css.map */